# Default ignored files
/shelf/
/workspace.xml

# Ignore dat directory
/HY202103/D07/
/HY202103/D08/
/HY202103/D23/
/HY202103/D24/


# Ignore pycache file and vscode file
*/__pycache__/*
.vscode
/.idea/